    <div class="definition">
    <h3 class="askTitle">DEFINITION OF ASK</h3>
    <div class="description">
    <h3>ACTIONABLE, SPECIFIC, KIND</h3>
      <p> Do you have an action you can share with your pair that will help them to grow in their dev journey?<br>
      How will this action help them?<br>
      It's important to be clear, concise and use concrete examples to show what action you are reffering to.<br>
      Most importantly, how would you feel if you recieved this feedback?<br>
      Is your feedback kind to your pair's feelings and integrity?<br>
      Is your feedback kind to your pair's learning and progress?</p>
    </div>
    </div>

<br>

    <form class="form" action="/ask/{{id}}" method="post">
      <label>
        <textarea  name="feedback" id="" cols="90" rows="8" placeholder="Enter your feedback here..."></textarea>
        {{!-- <input autocomplete="off" type="text" name="feedback" class="feedback-input" placeholder="Enter your feedback here..."> --}}
      </label>

      <label for="checks">
        Is your feedback <strong>actionable, specific and kind</strong>?
        <input id="actionable" type="checkbox" name="actioble" value="1">
      </label>
      
      <label>
        <span style="margin-right: 10px">Send to:</span>
        <select name="id">
          {{#each students}}
          <option value={{id}}>{{name}}</option>
          {{/each}}
        </select>

        <span style="margin-left: 20px">I am:</span>
        <select name="sender">
          {{#each students}}
          <option value={{name}}>{{name}}</option>
          {{/each}}
        </select>
      </label>
      <br>
      <input class="big-btn" type="submit" value="Submit">
    </form>
