<div class="students">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2 class="profileName">{{name}}</h2>
  <div class="container">
    <p class="feedback-box">"<em> {{feedback}} </em>" <br> - Sent by <strong>{{sender}}</strong></p>
  </div>
<br>
  <a class="askLink" href="/ask">Send Feedback</a>
</div>
